    {%extends "admin/admin.html"%}
    {% block title%}ADMIN DASHBOARD - NEWSFEED{% endblock %}
   {% block body %}

<body class="hold-transition login-page" >
<br>
<div class="col-md-6">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
     <a href="" class="h1"><b>CHANGE PASSWORD</b></a>
    </div>
    <div class="card-body" >
      <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
      <form  method="post">
        {% for message in get_flashed_messages()%}
        <p style='color:green'>{{message}}</p>
        {% endfor %}
        {% if error %}
        <p style='color:red'> {{error}}</p>
        {% endif %}
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="oldpass" placeholder="Current Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="New Password" >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="confirm_pass" id="confirm_password" class="form-control" placeholder="Retype New Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{%endblock%}