    {%extends "mod/mod.html"%}
    {% block title%}ADD NEW POST - MODERATOR PANEL{% endblock %}
   {% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
             <div id="form" class="pt-5 form-input-content">
          <div class="card card-outline card-info card-warning">
            <div class="card-header">
              <h2 class="card-title" style="color: SKYBLUE;">
        ADD NEW POST
              </h2>
            </div>
            <!-- /.card-header -->
                <form method="POST" enctype="multipart/form-data" action="/add-post">
                  <!-- CARD-->
                    <br>
                        {% for message in get_flashed_messages()%}
        <p style='color:green'>{{message}}</p><button type="button" class="btn btn-block btn-outline-info btn-lg"><a href="{{url_for('manage_posts')}}" class="nav-link">VIEW POSTS</a>
</button>
        {% endfor %}
                <div class="form-group ">

                  <label>SELECT POST CATEGORY</label>
                  <select name="pcategory" id="pcategory" class="form-control " style="width: 100%;" required >
                             <option value="">SELECT CATEGORY</option>
                            {% for cat in cats %}
                    <option value="{{cat.cid}}">{{cat.cname.capitalize()}}</option>
                        {% endfor %}
                  </select>
                </div>
                  <!-- CARD END-->
                                    <div class="form-group">
                    <label for="pheading">POST HEADING</label>
                    <input type="text" name="pheading" class="form-control" autocomplete="off" id="pheading" placeholder="ADD POST HEADING HERE" required>
                  </div>
                      <div class="form-group">
                    <label for="pdescription">POST DESCRIPTION</label>
                          <textarea class="form-control" id="pdescription" name="pdescription" placeholder="Enter Post Description" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="pthumbnail">CHOOSE THUMBNAIL</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="pthumbnail" name="pthumbnail" required>
                        <label class="custom-file-label" for="pthumbnail">Choose Thumbnail</label>
                      </div>
                    </div>
                  </div>

                <!--CARD END-->
            <div class="form-group">
                <label>ENTER POST DETAIL:</label>
              <textarea id="summernote" name="summernote" placeholder="ENTER POST DETAILS" required></textarea>
  <div class="form-check">
                    &nbsp;&nbsp; &nbsp;<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1" style="color: skyblue; bold;"><strong>Check and Confirm Post</strong></label>
                  </div>
          <div class="form-group">
          <input type="submit" class="btn btn-primary btn-block" VALUE="POST NOW">

          </div>
      </div>
      <!-- ./row -->
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
 {%endblock%}