    {%extends "mod/mod.html"%}
{% block title%}MODERATOR DASHBOARD{% endblock %}
   {% block body %}
    <!-- Main content -->
    {% for message in get_flashed_messages()%}
    <p style='color:green'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<big>{{message}}</big></p>
        {% endfor %}
    <section class="content">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-12 col-sm-12 col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">LATEST POSTS</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Heading</th>
                      <th>Description</th>
                            <th>Category</th>
                      <th>Publisher</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      {% for post in posts[0:9]%}
                      <td><a href="../read-post/{{post.Tblposts.pid}}">{{post.Tblposts.pheading[0:50]}}</a></td>
                      <td>{{post.Tblposts.pdescription[0:100]}}</td>
                        <td><div class="sparkbar" data-color="#00a65a" data-height="20">{{post.Category.cname.capitalize()}}</div>
                      </td>
                        <td align="right"><span class="badge badge-success">{{post.Tblposts.pubid.capitalize()}}</span></td>
                      <td>
                    </tr>
 {%endfor%}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a class="btn btn-sm btn-info float-left" href="{{url_for('add_post')}}">Add New Post</a>
                <a href="{{url_for('manage_posts')}}" class="btn btn-sm btn-secondary float-right">View All Post</a>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->


                  </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{%endblock%}